{% extends "base.html" %}

{% block content %}
  <h1>Hello World! h1</h1>
  <h2>Hello World! h2</h2>
  <h3>Hello World! h3</h3>
  <h4>Hello World! h4</h4>

  <div class="intro-text">
    This is an intro text sample.
  </div>
  <div class="body-text">
  Lorem ipsum dolor sit amet, quo ei mazim docendi deserunt. Pri at amet minim aliquip, qui harum mollis dolorum an. Eam solum inermis reprimique in, sit iudico viderer ut, illum iudico viderer per te. Mel mutat vivendo vivendum cu, qui tollit alterum maiestatis et, veri menandri est ad.
  </div>
{% endblock %}